img {
    max-width: 100%;
}

body {
    background-color: var(--blanc-texte);
}

article {
    background-color: var(--violet-clair);
}

.logo_site {
    display: flex;
    margin: auto;
    width: 100%;
}

.item_align {
    display: flex;
    justify-content: space-between;
}

.article_bouton {
    display: flex;
    margin-right: 5%;
}

.click_bouton {
    display: flex;
    margin: auto;
    margin-bottom: 15%;
    margin-top: 5%;
}

.frise_content {
    display: flex;
    margin: auto;
    width: 80%;
    margin-bottom: 10%;
}

.galerie_content {
    display: flex;
    width: 80%;
    justify-content: space-between;
    margin-inline: 5%;
    gap: 5%;
    margin: auto;
}