.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
  
.bouton_home {
    width: 13%;
    margin-left: 5%;
}

.menu-overlay {
    position: relative;
}

  .menu-overlay {
    position: relative;
    margin-right: 16px;
  }
  
  .menu-toggle {
    background-color: transparent;
    border: none;
    color: #000000;
    cursor: pointer;
    font-size: 1.2rem;
    padding: 8px;
    position: relative;
  }
  
  .overlay {
    background-color: var(--violet-mi-fonce-mi-clair);
    position: absolute;
    top: 100%;
    right: 0;
    width: 200px;
    transform: translateY(8px);
    transition: all 0.3s ease-in-out;
    z-index: 2;
  }
  
  .overlay ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .overlay li {
    padding: 8px 16px;
    border-bottom: 2px solid #FFFFFF;
  }
  
  .overlay a {
    color: #000000;
    text-decoration: none;
    display: block;
    color: var(--blanc-texte);
    font-family: 'Lobster Two', sans serif;
    font-weight: 800;
    font-size: 28px;
  }
  
  .overlay a:hover {
    background-color: var(--violet-clair);
  }